<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to Text Extractor</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .file-drop-area {
            border: 2px dashed #ccc;
            padding: 20px;
            text-align: center;
            margin-bottom: 20px;
            cursor: pointer;
        }

        .file-drop-area.dragover {
            border-color: #007bff;
        }
    </style>
</head>

<body class="bg-white">
    <nav class="w-full h-16 bg-white shadow-lg flex justify-between items-center px-10">
        <div class="flex items-center">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="h-10 mr-2">
            <h2 class="text-xl font-semibold text-blue-600">image2text.com</h2>
        </div>
        <div class="flex items-center">
            <a href="https://saweria.co/image2text"
                class="text-black font-semibold hidden sm:block bg-yellow-500 w-max px-4 py-1 rounded-lg transition duration-300 border-2 hover:bg-white hover:text-yellow-600 hover:border-yellow-500">Donate
                me in <span class="underline">Saweria</span></a>
            <a href="https://saweria.co/image2text"
                class="text-black font-semibold bg-yellow-500 sm:hidden w-max px-4 py-1 rounded-lg transition duration-300 border-2 hover:bg-white hover:text-yellow-600 hover:border-yellow-500">Donate</a>
        </div>
    </nav>

    <section class="w-full h-screen px-4">
        <h1 class="text-4xl font-bold text-center mt-10 mb-2">Image to Text Converter</h1>
        <p class="text-center text-gray-600 mb-10">An online image to text converter to extract text from images. Upload
            your photo, to get text file instantly.</p>
        <div id="file-drop-area" class="file-drop-area mb-4 mx-5 h-50" onclick="triggerFileInput()">
            <div class="flex justify-center">
                <img src="{{ url_for('static', filename='images/tool-upload-img.png') }}" class="h-24 mr-2">
            </div>
            <p class="text-xl">Drag and drop file here, or click to <span class="text-blue-600 underline">browse</span>
            </p>
            <p class="text-xl text-gray-400">File supported: PNG, JPG, JPEG, PDF </p>
            <input type="file" id="file-input" name="file" required accept=".png, .jpg, .jpeg, .pdf"
                style="display: none;">
        </div>
        <form id="upload-form" method="POST" enctype="multipart/form-data">
            <input type="file" id="real-file-input" name="file" required accept=".png, .jpg, .jpeg, .pdf"
                style="display: none;">
            <button type="submit"
                class="bg-blue-500 mx-5 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Convert
                Image</button>
        </form>

        {% if text %}
        <div class="mt-4 mx-5">
            <h2 class="text-lg font-semibold mb-2">Extracted Text:</h2>
            <textarea class=" w-full h-72 mb-10 border-2 cursor-text" disabled>{{ text }}</textarea>
        </div>
        {% endif %}
        </div>
    </section>

    <footer class="w-full h-10 flex justify-center items-center border-2 bg-gray-100">
        <h3>Created By Faisa Abhinaya 'Open Source Has Won'</h3>
    </footer>

    <script>
        function triggerFileInput() {
            const fileInput = document.getElementById('file-input');
            fileInput.click();

            fileInput.addEventListener('change', (event) => {
                const selectedFile = event.target.files[0]; // Mengambil file yang dipilih
                if (selectedFile) {
                    displayFileName(selectedFile.name); // Menampilkan nama file di area drop
                    setFileInput(selectedFile); // Menambahkan file ke real-file-input
                }
            });
        }

        const fileDropArea = document.getElementById('file-drop-area');

        fileDropArea.addEventListener('dragover', (e) => {
            e.preventDefault();
            fileDropArea.classList.add('dragover');
        });

        fileDropArea.addEventListener('dragleave', (e) => {
            e.preventDefault();
            fileDropArea.classList.remove('dragover');
        });

        fileDropArea.addEventListener('drop', (e) => {
            e.preventDefault();
            fileDropArea.classList.remove('dragover');

            const files = e.dataTransfer.files;
            if (files.length > 0) {
                const file = files[0];
                displayFileName(file.name);
                setFileInput(file);
            }
        });

        function displayFileName(fileName) {
            const fileDropArea = document.getElementById('file-drop-area');
            fileDropArea.innerHTML = `<p>File: ${fileName}</p>`;

            // Show the upload form after file is dropped
            const uploadForm = document.getElementById('upload-form');
            uploadForm.style.display = 'block';
        }

        function setFileInput(file) {
            const realFileInput = document.getElementById('real-file-input');
            const fileList = new DataTransfer();
            fileList.items.add(new File([file], file.name));
            realFileInput.files = fileList.files;
        }
    </script>
</body>

</html>